@{
    ViewBag.Title = "Grid";
}

<h2>Grid</h2>
<div ng-app="examplesApp" ng-controller="gridExampleController">
    <div class="gridStyle" ng-grid="gridOptions">

    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/App/Examples/grid.js"></script>
}
